body{
    background-color: rgb(209, 203, 203);
    margin: 0;
    padding: 0;
}
#title{
    background-color: transparent;
    font-size: 60px;
    top: 30px;
    left: 40px;
    color: cadetblue;
    animation-name: animacion;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    position: absolute;
}
.text{
    text-align: justify;
    color: coral;
    font-size: 30px;
    
}
h2{
    font-size: 45px;
    color: brown;
}
a{
    font-size: 25px;
    color: cadetblue;
}

@keyframes animacion{
    0%{left: 0px; top: 0px;}
    50%{left: 300px; top: 0px; color: hotpink;} 
    100%{left: 0px; top: 0px;}
}
#subtitle1{
    color:rgb(84, 122, 46);
}

.headerImage{
    background-image: url(../images/header.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    position: relative;
    
}