body{
    background-color: rgb(98, 124, 115)
}

.section1{
    display: flex;
    /* gap: 10px; */
    margin-bottom: 100px;
    border: 5px solid black;
    justify-content: space-around;
    width: 50%;
    height: 100px;
    align-items: center;
    background-color: beige;
    font-size: 20px;
}
.section2{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    justify-content: space-around;
}
.section3{
    display: flex;
    gap: 5px;
    margin-bottom: 30px;
}
.section4{
    display: flex;
    gap: 10px;
}

.tarjeta1{
    border: 2px solid black;
    margin-right: 50px;
    background-color: rgb(180, 105, 105);
    font-size: 40px;
    /* padding: 100px; */
    width: 300px;
    height: 300px;
    align-items: center;
}
.articulo1{
text-align: center;
align-items: center;
    
}