.main{
  width: 600px;
  height: 600px;
  background-color: aqua;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 20px;
  }
  .main1{
    width: 300px;
    height: 550px;
    background-color: brown;
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  .main11{
    width: 280px;
    height: 250px;
    background-color: chartreuse;
    display: grid;
    grid-template-columns:2.5fr 1.5fr ;
    padding: 10px;
  }
  .main111{
    width: 140px;
    
    background-color: black;
  }
  .main112{
    width: 100px;
    background-color: white;
  }
   .main12{
    width: 280px;
    height: 250px;
    background-color: rgb(41, 80, 3);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
   }

   .main121{
    width:130px ;
    background-color: black;
   }
   .main122{
    width:130px ;
    background-color: rgb(253, 248, 248);
   }


  .main2{
    width: 200px;
    height: 550px;
    background-color: rgb(34, 182, 71);
    padding: 10px;
    display: grid;
    grid-template-rows: 4fr 1fr;
  }
  .main21{
    width:180px ;
    height: 400px;
    background-color: crimson;
  }
  .main22{
    width:180px ;
    height: 80px;
    background-color: rgb(194, 11, 185);
  }
