body{
    background-color: #F9F1F0;
    font-family: "Outfit", sans-serif;
    margin: 24px;
    width: auto;
}
.main_header{
    width: auto;
    padding: 40px  20px 40px 20px;
    background-color: #FADCD9;
    border-radius: 20px;
    margin-bottom: 40px;
    
}
.section_header{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-content: center;
    align-items: center;

}
.nav_header{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    font-size: 16px;
    font-weight: 300;
    font-style: light;

    
}
.section_grid1{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}
.grid_cuadro1{
    background-color: #FADCD9;
    border-radius: 20px;
}